.gallery-section
  background: $Grayish
  padding: 100px 0

  .grid-sizer,
  .grid-item
    width: 33.333%
  /* 2 columns */
  .grid-item--width2
    width: 66.66%

  .grid-item
    margin-bottom: 10px
